.App {
  text-align: center;
}

.App-header {
  color: white;
}

.App-title {
  font-size: 3em;
}

.btn {
	color: #fff;
	background-color: transparent;
	border: solid 2px #fff;
}

.btn-disabled {
	color: hsla(0, 0%, 90%, 0.3);
	border-color: hsla(0, 0%, 90%, 0.3);
}

input {
	color: #fff;
	background-color: transparent;
	border: solid 2px #fff;
	padding: 4px;
	margin: 4px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
