* {
	box-sizing: border-box;
}

html { 
  background: url(../../ping-pong.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
}

.App {
  text-align: center;
}

.App-header {
  color: white;
}

.App-title {
  font-size: 3em;
}

.btn {
	color: #fff;
	background-color: transparent;
	border: solid 2px #fff;
	margin: 1rem;
}

.btn-disabled {
	color: hsla(0, 0%, 90%, 0.3);
	border-color: hsla(0, 0%, 90%, 0.3);
}

input {
	color: #fff;
	background-color: transparent;
	border: solid 2px #fff;
	padding: 4px;
	margin: 4px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
