.generator-container {
	width: 40vw;
	height: 60vh;
	background-color: $background-colour;
	padding: 2rem;
	border-radius: 2rem;
	margin-left: 8vw;
}

.player-list-item {

	.delete-btn {
		color: #fff;
		background-color: transparent;
		border: none;
	}
}