.generator-container {
	width: 45vw;
	background-color: $background-colour;
	padding: 2rem;
	border-radius: 2rem;
	margin-left: 8vw;
	margin-bottom: 5vh;
}

.list-container {
	width: 80%;
	margin: auto;
	text-align: center;
}

.player-list-item {

	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;

	.delete-btn {
		color: $white;
		background-color: transparent;
		border: none;
	}
}
