// Round one and shared round styles including media queries for large and small screens, css grid settings

@media (min-width: 768px) {
		
	.grid-container {
		margin-top: 15vh;
		width: 95vw;
		border-radius: 2rem 2rem 0rem 0rem;
		padding: 0.8rem;
		margin: auto;
	}

	ul.tournament-grid {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: repeat(4, 40px); 
	}

	li.tournament-pair {
		grid-column-end: span 4;
		grid-row-end: span 2;
		align-self: center;
	}

	.pair-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.player-container {
		display: inline-flex;
	}

	li.path-u {
		grid-column-end: span 2;
		grid-row-end: span 1;
		border-bottom: solid 4px $white;
		border-left: solid 4px $white;
		border-right: solid 4px $white;
		grid-row-start: 3;
	}

	li.path-u.one {
		grid-column-start: 2;
	}

	li.path-u.two {
		grid-column-start: 6;
	}

	li.path-u.three {
		grid-column-start: 10;
	}

	li.path-u.four {
		grid-column-start: 14;
	}

	li.path-i {
		border-right: solid 2px $white;
		grid-row-start: 4;
	}

	li.path-i.one {
		grid-column-start: 2;
	}

	li.path-i.two {
		grid-column-start: 6;
	}

	li.path-i.three {
		grid-column-start: 10;
	}

	li.path-i.four {
		grid-column-start: 14;
	}

	li.path-l {
		border-left: solid 2px $white;
		grid-row-start: 4;
	}

	li.path-l.one {
		grid-column-start: 3;
	}

	li.path-l.two {
		grid-column-start: 7;
	}

	li.path-l.three {
		grid-column-start: 11;
	}

	li.path-l.four {
		grid-column-start: 15;
	}
}

@media (max-width: 767px) {
	li.tournament-pair {
		background-color: $background-colour;
		border-radius: 10px;
		margin: 1rem;
	}
}