.tournament-viewer-container{
	margin-top: 15vh;
	width: 95vw;
	background-color: $background-colour;
	border-radius: 2rem;
	margin: auto;	
	box-shadow: 0px 4px 6px 0px hsla(0, 0%, 0%, 0.2);
	text-align: center;
}

.info-text {
	padding-top: 20px;
	margin: 0px;
	color: $transparent-white;
}

.btn.tournament-player {
	grid-column-end: span 1;
	border: none;
	border-radius: 8px;
	background-color: transparent;
	font-size: 1rem;
	color: #fff;
	padding: 0.5rem;
}

.tournament-player.disabled {
	background-color: transparent;
	color: $background-colour;
}

.tournament-player.disabled.winner {
	color: hsla(0, 0%, 90%, 0.4);
}
