@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: 'Roboto', sans-serif;

$background-colour: hsla(120, 10%, 10%, 0.7);
$white: hsla(120, 0%, 100%, 1);
$transparent-white: hsla(0, 0%, 90%, 0.3);
