* {
  box-sizing: border-box; }

html {
  background: url(../../ping-pong.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white; }

.App {
  text-align: center; }

.App-header {
  color: white; }

.App-title {
  font-size: 5rem; }

input {
  color: white;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1.8%;
  margin: 4px; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.generator-container {
  width: 45vw;
  background-color: rgba(23, 28, 23, 0.7);
  padding: 2rem;
  border-radius: 2rem;
  margin-left: 8vw;
  margin-bottom: 5vh; }

.list-container {
  width: 80%;
  margin: auto;
  text-align: center; }

.player-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .player-list-item .delete-btn {
    color: white;
    background-color: transparent;
    border: none; }

.tournament-viewer-container {
  margin-top: 15vh;
  width: 95vw;
  background-color: rgba(23, 28, 23, 0.7);
  border-radius: 2rem;
  margin: auto; }

.tournament-player {
  grid-column-end: span 1;
  border: none;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem; }

.tournament-player.disabled {
  background-color: transparent;
  color: rgba(23, 28, 23, 0.7); }

.tournament-player.disabled.winner {
  color: rgba(143, 163, 143, 0.7); }

.grid-container {
  margin-top: 15vh;
  width: 95vw;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 0.8rem;
  margin: auto; }

ul.tournament-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 40px); }

li.tournament-pair {
  font-size: 1rem;
  grid-column-end: span 4;
  grid-row-end: span 2;
  align-self: center; }

.pair-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.player-container {
  display: inline-flex; }

li.path-u {
  grid-column-end: span 2;
  grid-row-end: span 1;
  border-bottom: solid 4px white;
  border-left: solid 4px white;
  border-right: solid 4px white;
  grid-row-start: 3; }

li.path-u.one {
  grid-column-start: 2; }

li.path-u.two {
  grid-column-start: 6; }

li.path-u.three {
  grid-column-start: 10; }

li.path-u.four {
  grid-column-start: 14; }

li.path-i {
  border-right: solid 2px white;
  grid-row-start: 4; }

li.path-i.one {
  grid-column-start: 2; }

li.path-i.two {
  grid-column-start: 6; }

li.path-i.three {
  grid-column-start: 10; }

li.path-i.four {
  grid-column-start: 14; }

li.path-l {
  border-left: solid 2px white;
  grid-row-start: 4; }

li.path-l.one {
  grid-column-start: 3; }

li.path-l.two {
  grid-column-start: 7; }

li.path-l.three {
  grid-column-start: 11; }

li.path-l.four {
  grid-column-start: 15; }

.grid-container.round-two {
  border-radius: 0rem; }

ul.tournament-grid.round-two {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 40px); }

.grid-container.round-three {
  border-radius: 0rem; }

ul.tournament-grid.round-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 40px); }

.grid-container.winner {
  border-radius: 0rem 0rem 2rem 2rem; }

ul.tournament-grid.winner {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 60px; }

.the-winner {
  grid-column-end: span 4;
  font-size: 2rem; }

.btn {
  color: white;
  background-color: transparent;
  border: solid 2px white;
  margin: 1rem;
  border-radius: 5pxpx;
  padding: 1.5%;
  padding-right: 2%;
  padding-left: 2%; }

.btn-disabled {
  color: rgba(230, 230, 230, 0.3);
  border-color: rgba(230, 230, 230, 0.3); }

.finish-round-btn {
  width: 150px;
  grid-column-start: 17;
  grid-column-end: span 1;
  grid-row-start: 3; }

.finish-round-btn.winner {
  grid-row-start: 1;
  margin-right: 0.5rem; }

.hidden {
  border: none;
  background-color: transparent;
  color: transparent; }

.add {
  font-size: 0.8rem; }

.generate {
  font-size: 1.5rem; }

.new-tournament {
  font-size: 2rem;
  margin-top: 4vh;
  margin-bottom: 6vh; }

/*# sourceMappingURL=index.css.map */
